<ion-content class="ion-margin" id="htmlData">
    <div class="contents">
      <ion-icon id="helpIcon" name="help-circle" style="color: #002850;" (click)="showHelp()"></ion-icon>
      <ion-title><h1>Customer</h1></ion-title>
      <ion-searchbar class="isb" placeholder="Search Customer..." showCancelButton="focus" [(ngModel)]="filterTerm" animated></ion-searchbar><br/>
        <ion-grid class="ion-margin" class="ion-grid-padding">
          <ion-row>
            <ion-col>Customer First Name</ion-col>
            <ion-col>Customer Surname</ion-col>
            <ion-col>Address</ion-col>
            <ion-col>Phone</ion-col>
            <ion-col>Email</ion-col>
            <ion-col></ion-col>
            
          </ion-row>
          <ion-item-divider></ion-item-divider>
          <ion-row *ngFor="let item of data | async | filter: filterTerm">
            <ion-col>
              <ion-label>{{item.customer_FirstName}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{item.customer_Surname}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{item.address}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{item.phone}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{item.email}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-button class="light-Btn" (click)="OnEdit(item)"matTooltip="View Customer">View</ion-button>
              <ion-button class="Red-Btn" (click)="DeleteCustomer(item.customer_ID)" matTooltip="Remove"><ion-icon name="trash-outline"></ion-icon></ion-button>
              <ion-button class="green-Btn" (click)="AddCustomerOrder(item)" matTooltip="Place a customer order"><ion-icon name="paper-plane-outline"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
          <ion-item-divider></ion-item-divider>
        </ion-grid>
        <ion-button class="light-Btn" (click)="AddCustomer()" matTooltip="Add new Customer">Add</ion-button>
        <!-- <ion-button class="red-Btn" (click)="generPDF()">Generate Report</ion-button>  <ion-icon name="add-outline"></ion-icon> -->
    </div>
  
