<ion-content class="ion-margin" id="htmlData">
    <div class="contents">
      <ion-title ><h1 style="color: black;">{{welcome}}</h1></ion-title>
      <ion-title><h1>Your Orders</h1></ion-title>
      <ion-searchbar class="isb" placeholder="Search Inventory..." showCancelButton="focus" [(ngModel)]="filterTerm" animated></ion-searchbar><br/>
      <!-- <dialog style="z-index: 100;" #myDialog class="modal">
        <h1 mat-dialog-title>Enter Review</h1>
        <form FormGroup="form">
          <mat-form-field>
        <textarea matInput placeHolder="Enter Review" formControlName="review"> 
      </textarea>
    </mat-form-field>
        <br><button  [disabled]="!form.valid" (click)="SubmitReview();myDialog.close()">Submit</button>
        <button mat-raised-button (click)="closeDialog();myDialog.close()">Cancel</button>
      </form>
     
      </dialog> -->
      <mat-form-field style="float: right;"  >
        <mat-label>Select Orders</mat-label>
        <mat-select (selectionChange)="FilterOrders()" [(ngModel)]="selectedStatus"  >
          <mat-option *ngFor="let status of statusResults" [value]="status.status_ID">
            {{status.Name}}
          </mat-option>
        </mat-select>
        
      </mat-form-field>
        <ion-grid class="ion-margin" class="ion-grid-padding">
          <ion-row>
            <ion-col>Order ID</ion-col>
            <ion-col>Date Placed</ion-col>
            <ion-col>Total</ion-col>
            <ion-col >Description</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-item-divider></ion-item-divider>
          <ion-row *ngFor="let item of filteredCustomerOrders | async | filter: filterTerm">
            <ion-col>
              <ion-label>{{item.customerOrder_ID}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{ConvertDate(item.date_Created)}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>R{{CalculateTotal(item.customerOrder_ID)}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{ReturnType(item)}}</ion-label>
            </ion-col>
            <ion-col>
              <div [ngSwitch]="selectedStatus">
           

                <div *ngSwitchCase="1">
              <ion-button (click)="ViewOrder(item)" class="red-btn" >View</ion-button>
              <ion-button *ngIf="!item.transaction_ID" class="red-btn" (click)="Check(item)" matTooltip="checkout">Checkout</ion-button>
              
                </div>
              
              <div *ngSwitchCase="2">
                <ion-button (click)="ViewOrder(item)" class="red-btn" matTooltip="View">View</ion-button>
                <ion-button *ngIf="permissions" (click)="SubmitReview(item)" matTooltip="review">Leave Review</ion-button>
              </div>
              <div *ngSwitchCase="3">
                <ion-button (click)="ViewOrder(item)" class="red-btn" matTooltip="View" >View</ion-button>
                
              </div>
            </div>
                
            </ion-col>
          </ion-row>
          <ion-item-divider></ion-item-divider>
        </ion-grid>
        <ion-button class="red-Btn" >Checkout All</ion-button>
    </div>
    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="center center" style="margin-top: 12px">
      <div id="paypal-button"></div>
  </div>
