







<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input type="text" placeholder="First name"/>
        <input type="text" placeholder="Surname"/>
        <input type="text" placeholder="Address"/>
        <input type="text" placeholder="Cellphone Number"/>
        <input type="text" placeholder="Email address"/>
        <input type="password" placeholder="Create password"/>
        <button mat-raised-button>Register</button>
      </form>
    </div>
  </div>
