<!-----
<div class="outerdiv">
<form class="register">
        <input type="text" placeholder="First name"/>
        <input type="text" placeholder="Surname"/>
        <input type="text" placeholder="Address"/>
        <input type="text" placeholder="Cellphone Number"/>
        <input type="text" placeholder="Email address"/>
        <input type="password" placeholder="Create password"/>
        <button class="mybutton" mat-raised-button>Register</button>
      </form>
    </div>
  -->

  
  
    <div class="divv">
    <h1>Login Page</h1>
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <div class="button-container">
      <button type="submit">Sign In</button>
      <button type="button">Register</button>
    </div>
  </div>
  
