<div class="signup-container">
    <div class="signup-dashboard">
    
     
      <span class="signup-text04"><span>15</span></span>
      <span class="signup-text06"><span>383</span></span>
      <span class="signup-text08"><span>300</span></span>
      <span class="signup-text10"><span>68</span></span>
      <span class="signup-text12"><span>Total Customer Orders</span></span>
      <span class="signup-text14"><span>145</span></span>
      <span class="signup-text16"><span>Total Items Ordered</span></span>
      <span class="signup-text18"><span>Total Items Ordered</span></span>
      <span class="signup-text20"><span>Total Supplier Orders</span></span>
      <span class="signup-text22"><span>Total Inventory Items</span></span>
      <span class="signup-text24"><span>Operation Inventory Items</span></span>
      <span class="signup-text26"><span>Finished Goods</span></span>
      <span class="signup-text28"><span>Raw Materials</span></span>
      <span class="signup-text30"><span>23</span></span>
      <span class="signup-text32"><span>12</span></span>
      <span class="signup-text34"><span>37</span></span>
      

      <div class="signup-inventoryreport">
       
        <span class="signup-text50"><span>Quantity</span></span>
      </div>
    
  