<body *ngIf="dataLoaded">
    <!-- <div class="blur" [style.background-image]="'url('+src+')'"></div> -->
    <div class="otp-page">
        <form [formGroup]="otpForm" class="otp-form">
            <ion-button fill="clear" (click)="BackToLogin()">Back to Login</ion-button>
            <h2 >{{title}}</h2>
            <!-- <h3 *ngIf="sent">{{Enter the OTP in the field below.}}</h3>
            <h2 *ngIf="!sent">{{Click to send One Time Pin}}</h2> -->
            <ion-input formControlName="otp" type="text" placeholder="XXXX" clearInput autocorrect="off" debounce="500"></ion-input>
            <ion-note class="error-message" *ngIf="otpForm.get('otp')?.hasError('invalidOTP') && otpForm.get('otp')?.touched">
                Please enter a valid 6-digit OTP.
            </ion-note>
            <div>
                <ion-button class="light-Btn" (click)="SendOTP()">Send pin</ion-button>
                <ion-button class="green-Btn" (click)="SendSms()" >Send Sms</ion-button>
                <ion-button class="green-Btn" (click)="SubmitOTP()" [disabled]="!otpForm.valid">Submit</ion-button>
                
                <!-- <ion-button *ngIf="user.username=='u21482358' && previousUrl == '/Login'" class="green-Btn" (click)="SubmitAndSetTimer()" [disabled]="!otpForm.valid">Submit and Set Timer</ion-button> -->
            </div>
            
        </form>
    </div>
</body>