/* .otp-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    backdrop-filter: blur(10px);
    
  }

  .h1{

    color: white;
}

.back{

color: lightblue;

}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.otp-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    backdrop-filter: blur(10px);
    
  }

.form button:hover,.form button:active,.form button:focus {
    background: yellow;
  }

  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: yellow;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 25px;
  }
  .form {
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  /*}
  
  /* .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  } */ */
<<<<<<< Updated upstream

  .backToLogin {
    color:crimson;
    border-radius: 2px;
  }
  .light-Btn{
    --background: #FFD700;
    --border-radius: 10em;
    display: inline-block;
  }

  .green-Btn{
    --background: #5CB85C;
    --border-radius: 10em;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
=======
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: grey;
    
>>>>>>> Stashed changes
  }

  .otp-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures full viewport height */

    
  }
  
  /* Style for the OTP form */
  .otp-form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .backToLogin {
    color:crimson;
    border-radius: 2px;
  }
  .light-Btn{
    --background: #FFD700;
    --border-radius: 10em;
    display: inline-block;
  }

  .green-Btn{
    --background: #5CB85C;
    --border-radius: 10em;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  /* Adjust the width of the OTP form */
  @media (min-width: 400px) {
    .otp-form {
      width: 300px;
    }
  }