<body>
    <div class="container">
     <div class="title">Create Supplier Order</div>
     <div class="content">
       <form action="#">
         <div class="user-details">
           <div class="input-box">
             <span class="details">Supplier</span>
             <input  type="text" placeholder="Inventory Item" [(ngModel)]="ord.supplier_ID" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
             <span class="details">order status</span>
             <input   type="text" placeholder="pending" [(ngModel)]="ord.order_Status" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
            <span class="details">Order Items</span>
            <input   type="text" placeholder="Order items">
          </div>
           <div class="input-box">
            <span class="details">Quantity</span>
            <input   type="text" placeholder="Quantity" [(ngModel)]="ord.quantity" [ngModelOptions]="{standalone: true}">
          </div>
         </div>
         <div class="buttondiv">
         <div class="button">
            <input type="submit" value="submit" (click)="update()">
          </div>
        </div>
       </form>
     </div>
    </div>
    </body>
