<body>
    <div class="container">
     <div class="title">Create Supplier Order</div>
     <div class="content">
       <form action="#">
         <div class="user-details">
           <div >
             <span class="details">Supplier Name</span>
             <ion-input class="back" type="text"  [(ngModel)]="ord.supplierName" placeholder="{{data.companyName}}" [ngModelOptions]="{standalone: true}">
             </ion-input>
           </div>
           <div >
            <span class="details">Supplier ID</span>
            <ion-input class="back" type="text" [(ngModel)]="ord.supplier" placeholder="{{data.supplier_ID}}" [ngModelOptions]="{standalone: true}"></ion-input>
          </div>
           <div >
             <span class="details">order status</span>
             <ion-input class="back"  type="text" placeholder="Pending" [(ngModel)]="ord.order_Status" [ngModelOptions]="{standalone: true}"></ion-input>
           </div>
           <div class="input-box">
            <span class="details">Order Items</span>
            <input   type="text" >
          </div>
           <div class="input-box">
            <span class="details">Quantity</span>
            <input   type="text" placeholder="Quantity" [(ngModel)]="ord.quantity" [ngModelOptions]="{standalone: true}">
          </div>
         </div>
         <div class="buttondiv">
         <div class="button">
            <input type="submit" value="submit" (click)="createSupplierOrder()" matTooltip="submit">
          </div>
        </div>
       </form>
     </div>
    </div>
    </body>
