 <!-----
<mat-form-field class="searchbar" appearance="fill">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="search here..."/>
  </mat-form-field>
 
  <mat-tab-group class="yellow">
    <mat-tab label="Dashboard"></mat-tab>
    <mat-tab label="Inventory"></mat-tab>
    <mat-tab label="Products"></mat-tab>
    <mat-tab label="Suppliers"></mat-tab>
    <mat-tab label="Reports"></mat-tab>
    <mat-tab label="Orders"></mat-tab>
    <mat-tab label="Recipes"></mat-tab>
  </mat-tab-group>
  
  
  <nav mat-tab-nav-bar >
    <a mat-tab-link *ngFor="let link of links; index as i"
       [href]="link"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{titles[i]}} </a>
  </nav> 
--->

  <p class="p1">working home</p>
