<body>
    <div class="container">
     <div class="title">Add Supplier Order</div>
     <div class="content">
       <form action="#">
         <div class="user-details">
           <div class="input-box">
             <span class="details">Inventory Item ID</span>
             <input  type="text" placeholder="name" [(ngModel)]="data.itemName" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
             <span class="details">Inventory Item</span>
             <input   type="text" placeholder="Category" [(ngModel)]="data.sku" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
             <span class="details">Quantity</span>
             <input  type="text" placeholder="sub-category" [(ngModel)]="data.supplierID" [ngModelOptions]="{standalone: true}">
           </div>
         </div>
         <div class="buttondiv">
         <div class="button">
            <input type="submit" value="submit Order" (click)="createOrders()">
          </div>
        </div>
       </form>
     </div>
    </div>
    </body>
