


<h1 class="newheading">Write off: </h1>
<table class="t">
    <tr class="thead">
      <th class="thead">Product ID</th>
      <th class="thead">Product Name</th>
      <th class="thead">Category</th>
      <th class="thead">Subcategory</th>
      <th class="thead">Price per category</th>
      <th class="thead">Quantity</th>
      <th class="thead">Expiry Date</th>
    </tr>
   <tr  class="row">
         <td>{{data.product_ID}}</td>
    <td>{{data.product_Name}}</td>
    <td>{{data.category}}</td>
    <td>{{data.subcategory}}</td>
    <td>{{data.price}}</td>
    <td>{{data.quantity}}</td>
    <td>{{data.expiry}}</td>
    </tr>
</table> 


<div [formGroup]="form">
  
      <ion-list>
        <ion-item>
          <ion-select formControlName="reason" aria-label="Fruit" interface="action-sheet" placeholder="Select reason" >
            <ion-select-option value="Expired">Expired product</ion-select-option>
            <ion-select-option value="requirement not met">product requirements not met</ion-select-option>
            <ion-select-option value="other">other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    

      <label for="file" >
       
    
    <input type="file" id="file" style="display: none;" accept="image/*" formControlName="image" (change)="FileChoice($event);SetFileName($event)"  #fileUpload/>
    <ion-button (click)="fileUpload.click()" >Upload image</ion-button>
    
    <span style="color: white;"> {{fileName}}</span>
  </label>
  
    <h1 class="grey">Enter amount to write off</h1>
    <input class="grey" type="text" formControlName="quantity">



      <ion-button  [routerLink]="['/view-write-off']" (click)="createWriteOff()">Submit write Off</ion-button>
   
    </div>