<h2 class="h">Products</h2>
<ion-searchbar></ion-searchbar>

<button (click)="addproduct()" mat-flat-button color="primary" class="add" >Add Product</button>
<button [routerLink]="['/view-write-off']" mat-flat-button color="primary" class="add" >view write offs</button>
<table class="t">
  <tr class="thead">
    <th class="thead">Product ID</th>
    <th class="thead">Product Name</th>
    <th class="thead">Category</th>
    <th class="thead">Subcategory</th>
    <th class="thead">Price per category</th>
    <th class="thead">Quantity</th>
    <th class="thead">Expiry Date</th>
  </tr>
  <tr *ngFor="let item of data" class="row">
    <td>{{item.product_ID}}</td>
    <td>{{item.product_Name}}</td>
    <td>{{item.category}}</td>
    <td>{{item.subcategory}}</td>
    <td>{{item.price}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.expiry}}</td>
    
    <button  mat-flat-button color="warn"  [routerLink]="['/view-product', item.product_ID]">View</button>
    <button (click)="delete(item.product_ID)" mat-flat-button color="primary">Remove</button>
    <button  mat-flat-button color="secondary" [routerLink]="['/write-off', item.product_ID]">write off</button>
  </tr>
</table>



