<ion-content class="ion-margin" id="htmlData">
  <!-- < <barcode-scanner-livestream #scanner  (valueChanges)="onValueChanges($event)">
  </barcode-scanner-livestream> -->
 
    <!-- <ion-button (click)="startScan()" [disabled]="!isSupported">
      Scan
    </ion-button> -->


  <div class="contents">
    <ion-icon id="helpIcon" name="help-circle" style="color: #002850;" (click)="showHelp()" matTooltip="Help"></ion-icon>
    <ion-title><h1>{{title}}</h1></ion-title>
    <ion-searchbar class="isb" placeholder="Search Products..." showCancelButton="focus" [(ngModel)]="filterTerm" animated></ion-searchbar><br/>
      <ion-grid class="ion-margin" class="ion-grid-padding">
        <ion-row>
          <ion-col size="1"><ion-label>Product ID</ion-label></ion-col>
          <ion-col size="1"><ion-label>Product Name</ion-label></ion-col>
          <ion-col size="1"><ion-label></ion-label>Category</ion-col>
          <ion-col  size="1"><ion-label></ion-label>Subcategory</ion-col>
          <ion-col *ngIf="request!='price'" size="1"><ion-label></ion-label>Price</ion-col>
          <ion-col *ngIf="request=='price'" size="2"><ion-label></ion-label>Price per category</ion-col>
          <ion-col size="1"><ion-label></ion-label>Quantity</ion-col>
          <ion-col size="1"><ion-label></ion-label>Expiry Date</ion-col>
          <ion-col size="1"><ion-label></ion-label>SKU</ion-col>
         
          <!-- <ion-col></ion-col>
          <ion-col *ngIf="!edited"></ion-col>
          <ion-col *ngIf="!edited"></ion-col>
          <ion-col *ngIf="!edited"></ion-col> -->
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row *ngFor="let item of data | async | filter: filterTerm">
          <ion-col size="1">
            <ion-label>{{item.product_ID}}</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label>{{item.name}}</ion-label>
          </ion-col >
          <ion-col size="1">
            <ion-label>{{GetCategoryName(item.category_ID)}}</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label>{{GetSubCategoryName(item.subCategory_ID)}}</ion-label>
          </ion-col>
          <ion-col *ngIf="request!='price'" size="1">
            <ion-label >{{item.price}}</ion-label>
          </ion-col>
            <div [formGroup]="form" *ngIf="edited">

          <ion-col size="3" *ngIf="request=='price'">
            <input mat-input type="number" formControlName="price" [(ngModel)]="price">
          </ion-col>
        </div>
          <ion-col size="1">
            <ion-label>{{item.quantity}}</ion-label>
          </ion-col>
          <!-- <ion-col *ngIf="request=='quantity'">
            <ion-label>+</ion-label>
          </ion-col>
          <ion-col *ngIf="request=='quantity'">
            <input mat-input type="number" min="1" [(ngModel)]="quantity">
          </ion-col> -->
          <ion-col size="1">
            <ion-label>{{item.expiry}}</ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label>{{item.sku}}</ion-label>
          </ion-col>
            <div style="display: flex;">
             <ion-button class="light-Btn" *ngIf="!edited" (click)="UpdatePrice(item)">Update Price</ion-button> 
            <ion-button class="light-Btn" *ngIf="!edited" (click)="ViewProduct(item)">View</ion-button>
            <ion-button class="red-Btn" *ngIf="!edited" (click)="delete(item.product_ID)">Remove</ion-button>
           </div>

          <ion-col>
            <ion-button class="green-Btn" [disabled]="!form.valid" *ngIf="edited && request == 'price'" (click)="OnDone(item)">Done</ion-button>
            <ion-button class="green-Btn" *ngIf="request == 'write-off' || request == 'write-up'" (click)="WriteOffScreen(item)">Select</ion-button>
          </ion-col>
          <ion-col>
            
          
            <ion-button class="green-Btn" *ngIf="edited" (click)="Cancel()">Cancel</ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
      <ion-button class="light-Btn" (click)="addproduct()">Add product</ion-button>
      <ion-button class="light-Btn" (click)=" AddCategory()">Add Category</ion-button>
      <ion-button class="light-Btn" (click)=" AddSubCategory()">Add SubCategory</ion-button>
      <ion-button class="red-Btn" (click)="generPDF()" >Generate Report</ion-button>
      <ion-button class="light-Btn"  [routerLink]="['/view-write-off']">view write offs</ion-button>
        <ion-button *ngIf="CheckPermission()" class="light-Btn" (click)="request = 'write-off'; edited = 'true';title = 'Select Product to write off'" >Write off</ion-button>
        <ion-button *ngIf="CheckPermission()" class="light-Btn" (click)="request = 'write-up';edited = 'true';title = 'Select Product to write up'" >Write Up</ion-button>

  </div>

