<ion-content class="ion-margin" id="htmlData">
  <div class="contents">
    <ion-icon id="helpIcon" name="help-circle" style="color: #002850;" (click)="showHelp()"></ion-icon>
    <ion-title><h1>{{title}}</h1></ion-title>
    <button (click)="ToCustomer()" >Customer Orders</button>
    <button (click)="ToSupplier()">Supplier Orders</button>
    <ion-searchbar class="isb" placeholder="Search Orders..." showCancelButton="focus" [(ngModel)]="filterTerm" animated></ion-searchbar><br/>
    <mat-form-field style="float: right;"  >
      <mat-label>Select Orders</mat-label>
      <mat-select (selectionChange)="CheckOrderStatus()" [(ngModel)]="selectedStatus"  >
        <mat-option *ngFor="let status of statusResults" [value]="status.status_ID">
          {{status.Name}}
        </mat-option>
      </mat-select>
      
    </mat-form-field>
      <ion-grid class="ion-margin" class="ion-grid-padding">
        
        <ion-row>
          <ion-col>Order ID</ion-col>
          <ion-col *ngIf="isCustomerOrder">Customer</ion-col>
          <ion-col  *ngIf="!isCustomerOrder">Supplier</ion-col>
          <ion-col>Date Created</ion-col>
          <ion-col>Total</ion-col>
          <ion-col *ngIf="isCustomerOrder">Description</ion-col>
          
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
        <ion-item-divider></ion-item-divider>
        <ion-grid>
        <ion-row *ngFor="let item of data;let rowIndex = index;">
        <div  *ngIf="isCustomerOrder">
         
          <ion-col>
            <ion-label>{{item.customerOrder_ID}}</ion-label>
          </ion-col>

          <ion-col>
            <ion-label>{{getCustomerName(item.customer_ID)}}</ion-label>
          </ion-col>

          <ion-col>
            <ion-label>{{ConvertDate(item.date_Created)}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>R{{CalculateTotal(item.customerOrder_ID)}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{ReturnType(item)}}</ion-label>
          </ion-col>
 
        </div>
      <div *ngIf="!isCustomerOrder">
        
          <ion-col>
            <ion-label>{{item.supplierOrder_ID}}</ion-label>
          </ion-col>

          <ion-col>
            <ion-label>{{getSupplierName(item.supplier_ID)}}</ion-label>
          </ion-col>

          <ion-col>
            <ion-label>{{ConvertDate(item.date_Created)}}</ion-label>
          </ion-col>

          <ion-col>
            <ion-label>R{{CalculateTotal(item.supplierOrder_ID)}}</ion-label>
          </ion-col>
     
        
          </div>
       <ion-col>
          <div [ngSwitch]="selectedStatus">
           

            <div *ngSwitchCase="1">
              
              
              
              <mat-icon class="light-Btn" *ngIf="!item.transaction_ID" (click)="delete(item)">delete</mat-icon>
              <mat-icon class="light-Btn"  (click)="View(item)">edit</mat-icon>
              <mat-icon class="red-Btn" id="1" (click)="UpdateOrderStatus(item,3)">cancel</mat-icon>
              <mat-icon class="light-Btn" (click)="UpdateOrderStatus(item,2)">check</mat-icon>

             
              </div>
              <div *ngSwitchCase="2">
                 <mat-icon class="light-Btn"  *ngIf="!item.transaction_ID" (click)="delete(item)">delete</mat-icon> 
                <mat-icon class="red-Btn" (click)="View(item)">View</mat-icon>
                <mat-icon class="red-Btn" id="1" (click)="UpdateOrderStatus(item,3)">cancel</mat-icon>
              <mat-icon class="light-Btn" id="1" (click)="UpdateOrderStatus(item,1)">pending</mat-icon>
             
              
             
               
               
               
              </div>

            <div *ngSwitchCase="3">
              <mat-icon class="light-Btn"  *ngIf="!item.transaction_ID" (click)="delete(item)">delete</mat-icon>
              <mat-icon class="red-Btn" (click)="View(item)">edit</mat-icon>
              <mat-icon class="red-Btn" id="1" (click)="UpdateOrderStatus(item,3)">cancel</mat-icon>
            <mat-icon class="light-Btn" id="1" (click)="UpdateOrderStatus(item,1)">pending</mat-icon>
           
            
           
             
             
             
            </div>

            
              
            
                <div *ngSwitchCase="4">
                  
                  <mat-icon  class="light-Btn"   (click)="View(item)">edit</mat-icon>
                  <mat-icon class="light-Btn" *ngIf="!item.transaction_ID" (click)="delete(item)">delete</mat-icon>
                  
                  </div>
                  </div>
                </ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
      </ion-grid>
      <ion-grid>
      <ion-item-divider></ion-item-divider>
      <ion-item-divider></ion-item-divider>
      <!-- <ion-button class="light-Btn" [routerLink]="'/create-customer-order'">Add</ion-button>
    <ion-button class="red-Btn" (click)=" generateInProgress()">Generate in-progress Report</ion-button>
    <ion-button class="red-Btn" >Generate pending Report</ion-button>
    <ion-button class="red-Btn" >Generate Finished Report</ion-button> -->
    </ion-grid>
    </div>
        

</ion-content>





