<ion-content class="ion-margin" id="htmlData">
  <div class="contents">
    <ion-icon id="helpIcon" name="help-circle" style="color: #002850;" (click)="showHelp()" matTooltip="help"></ion-icon>
    <h1>{{title}}</h1>
    <ion-segment value="custom">
      <ion-segment-button  (click)="ToCustomer()" value="segment">
        <ion-label>Customer Orders</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="ToSupplier()"  value="custom">
        <ion-label>Supplier Orders</ion-label>
      </ion-segment-button>
     
    </ion-segment>
    <ion-searchbar class="isb" placeholder="Search Orders..." showCancelButton="focus" (keyup)="filter($event)" animated></ion-searchbar><br/>
    <mat-form-field style="float: right;"  >
      <mat-label>Select Orders</mat-label>
      <mat-select (selectionChange)="CheckOrderStatus()" [(ngModel)]="selectedStatus"  >
        <mat-option *ngFor="let status of statusResults" [value]="status.status_ID">
          {{status.Name}}
        </mat-option>
      </mat-select>
      
    </mat-form-field>
    <ion-item-divider></ion-item-divider>
    <table mat-table #orderTable [dataSource]="dataSource" class="mat-elevation-z0">
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <th mat-header-cell  *matHeaderCellDef>
          {{ col.name }}
        </th>
        <td mat-cell *matCellDef="let item" [ngSwitch]="col.key">  
                <ng-container *ngSwitchCase="'actions'">
                <ng-container [ngSwitch]="selectedStatus"> 
                <div >
                  <div  *ngSwitchCase="1">
                    
                    
                    
                    <mat-icon class="light-Btn" *ngIf="!item.transaction_ID " (click)="delete(item)" matTooltip="Delete">delete</mat-icon>
                    <mat-icon class="light-Btn"  (click)="View(item)" matTooltip="edit">edit</mat-icon>
                    <mat-icon *ngIf="CheckPermission()" class="red-Btn" id="1" (click)="UpdateOrderStatus(item,3)" matTooltip="cancel">cancel</mat-icon>
                    <mat-icon *ngIf="CheckPermission()" class="light-Btn" (click)="UpdateOrderStatus(item,2)" matTooltip="check">check</mat-icon>
                  </div>
                   
                    
                    <div *ngSwitchCase="2">
                       <mat-icon class="light-Btn"  *ngIf="!item.transaction_ID && permissions" (click)="delete(item)"  matTooltip="Delete">delete</mat-icon> 
                      <mat-icon  class="red-Btn" (click)="View(item)"  matTooltip="edit">edit</mat-icon>
                      <mat-icon *ngIf="permissions" class="red-Btn" id="1" (click)="UpdateOrderStatus(item,3)" matTooltip="cancel">cancel</mat-icon>
                    <mat-icon *ngIf="permissions" class="light-Btn" id="1" (click)="UpdateOrderStatus(item,1)" matTooltip="pending">pending</mat-icon>
                  </div>
                    
                   
                     
                     
                     
                    
      
                  <div *ngSwitchCase="3">
                    <mat-icon  class="light-Btn"  *ngIf="!item.transaction_ID && permissions" (click)="delete(item)" matTooltip="delete">delete</mat-icon>
                    <mat-icon class="red-Btn" (click)="View(item)" matTooltip="edit">edit</mat-icon>
                    <mat-icon *ngIf="CheckPermission()" class="light-Btn" (click)="UpdateOrderStatus(item,2)" matTooltip="check">check</mat-icon>
                  <mat-icon *ngIf="permissions" class="light-Btn" id="1" (click)="UpdateOrderStatus(item,1)" matTooltip="pending">pending</mat-icon>
                 
                  
                 
                   
                   
                   
                  </div>
      
                  
                    
                  
                      <div *ngSwitchCase="4">
                        
                        <mat-icon  class="light-Btn"   (click)="View(item)" matTooltip="edit">edit</mat-icon>
                        <mat-icon class="light-Btn" *ngIf="!item.transaction_ID && permissions" (click)="delete(item)" matTooltip="delete">delete</mat-icon>
                        
                        </div>
                      </div>
                 
                 
                    </ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{item[col.key]}}
            </ng-container>
           
        </td>
          </ng-container>
       
     
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[3, 5, 10]"
      showFirstLastButtons
      >
    </mat-paginator>
     
        
  </div>
</ion-content>











