<h2 class="h">Inventory</h2>
<button mat-flat-button color="primary" class="add" (click)="addInventoryItem()">Add Inventory item</button>
<table class="t">
  <tr class="thead">
    <th class="thead">Inventory ID</th>
    <th class="thead">Inventory Items</th>
    <th class="thead">Item Name</th>
    <th class="thead">Quantity</th>
    <th class="thead">SKU</th>
  </tr>
  <tr *ngFor="let item of data" class="row">
    <td>{{item.inventory_ID}}</td>
    <td>{{item.inventory_Items}}</td>
    <td>{{item.itemName}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.sku}}</td>
    
    <button  mat-flat-button color="warn" [routerLink]="['/view-inventory-item', item.inventory_ID]" >View</button>
    <button  mat-flat-button color="primary" (click)="delete(item.inventory_ID)">Remove</button>
  </tr>
</table>

<button mat-flat-button class="report">Generate Report</button>





