<body>
  <form  [formGroup]="form">
    <div class="container">
      <ion-button color="danger" shape="round" fill="outline" class="cancelAdd" [routerLink]="['/Products']">X</ion-button>
     <div style="margin-left: 30px;" class="title">{{title}}</div>
     <div class="content">

        <div *ngIf="selectedPage==1" class="user-details">
          <!-- <section *ngIf="page==1"> -->
            <div class="input-box">
              <span class="details">Product Name</span>
              <ion-input type="text" placeholder="Name" formControlName="name" class="priceBox"></ion-input>
              <ion-note class="error-message" *ngIf="form.get('productName')?.hasError('required')">
                A product name is required
              </ion-note>
            </div>

            <div class="input-box">
              <span class="details">Price</span>
              <ion-input type="number" placeholder="Price" formControlName="price" class="priceBox"></ion-input>
              <ion-note class="error-message" *ngIf="form.get('price')?.hasError('min')">
                Price must be greater than or equal to 1.
              </ion-note>
            </div>



          <!-- <div> -->

            <ion-item class="drop-down-sub2">
              <ion-label position="floating">Category</ion-label>
              <ion-select interface="popover" formControlName="category_ID" (ionChange)="onCategoryChange($event)">
                <ion-select-option *ngFor="let category of categories" [value]="category.category_ID">{{ category.name }}</ion-select-option>
              </ion-select>
            </ion-item>

              <ion-item class="drop-down-sub">
                <ion-label position="floating">Sub-category</ion-label>
                <ion-select interface="popover" formControlName="subCategory_ID">
                  <ion-select-option *ngFor="let subcategory of filteredSubcategories" [value]="subcategory.subCategory_ID">{{ subcategory.name }}</ion-select-option>
                </ion-select>
              </ion-item>


          <div class="input-box">
            <span class="details">Quantity</span>
            <ion-input type="number" placeholder="Quantity" formControlName="quantity" class="priceBox"></ion-input>
            <ion-note class="error-message" *ngIf="form.get('quantity')?.hasError('min')">
              Quantity has to be at least 1.
            </ion-note>
          </div>

          <!-- <div class="input-box">
            <span class="details">Expiry</span>
              <ion-input type="date"  formControlName="expiry" class="priceBox" (ionChange)="validateExpiryDate()"></ion-input>
              <ion-note class="error-message" *ngIf="form.get('expiryDate')?.hasError('minExpiryDate')">
                Expiry date must at least be 10 days from now.
              </ion-note>
          </div> -->
       
        <div class="input-box">
          <span class="details">SKU</span>
          <ion-input type="text" readonly placeholder="Try to upload Barcode" formControlName="sku" class="priceBox"></ion-input>
          
        </div>
      </div>
      <!-- </section> -->
      <!-- <section *ngIf="page==2"> -->
        <div *ngIf="selectedPage==2" class="user-details">
          <div style="display: flex;flex-direction: column;">
            <input type="file" id="file" style="display: none;" accept="image/*" formControlName="image" (change)="ScanFile($event)" #fileUpload/>
            
            
            <button (click)="fileUpload.click()" style="margin-left: 25%;" class="formElement" >Scan Image</button>
            <br>
            <span class="formElement2" style="margin-left: 25%;">
              <img style="max-width: 300px;max-height: 300px;" src="{{url}}" alt="no Identifier">
            </span>
            <br>
            <br>
            <br>
            <br>
            <input type="text" class="formElement"  style="margin-left: 25%;" formControlName="sku" readonly placeholder="No identifier" >
          <div style="width: 20px;height: 20px;float: right;display: none;" id="reader"></div>
        </div>


      <!-- <div> -->

        


      <!-- </section> -->
      <!-- <div style="display: flex;flex-direction: row;">
        <button type="submit" >Submit<ion-ripple-effect></ion-ripple-effect></button> -->
      <!-- </div> -->
        </div>
        <button *ngIf="selectedPage<2" (click)="PageForward()" class="NextButt">Next</button>
        <div style="display: flex;">
         
        <button  *ngIf="selectedPage>1" (click)="PageBackward();" style="margin-left: 10%;" class="formElement">Back</button>
        <button  *ngIf="selectedPage>1" class="SubmitButt" (click)="AddProduct()"  [disabled]="!form.valid" >Submit</button>
        </div>
        <mat-radio-group style="margin-left: 43%;" #radioGroup  formControlName="page">
          
          <mat-radio-button (click)="preventDefault($event)"  *ngFor="let radio of radioList$ | async let i=index"[value]="i+1" ></mat-radio-button>
         
        </mat-radio-group>
          
        
     </div>
    </div>

  </form>
</body>
