
.searchbar{

color: white;
left: 40%;

}

.search-align{

    align-items: center;
}

.yellow{

    background-color: #FAF244;;
}


.toolbartop{
    background-color: black;
}

.heading{
    color: white;
}

.formfields{

    left: 80%;
    top: 20%;
    color: white;
}
.colr{

    color: white;
}

.material-symbols-outlined {
 
  color: white;
 
}
