<body>
    <div class="container">
     <div class="title">Add Inventory Item</div>
     <div class="content">
       <form action="#">
         <div class="user-details">
           <div class="input-box">
             <span class="details">Inventory Item Name</span>
             <input  type="text" placeholder="name" >
           </div>
           <div class="input-box">
             <span class="details">Inventory SKU</span>
             <input   type="text" placeholder="Category">
           </div>
           <div class="input-box">
             <span class="details">Supplier ID</span>
             <input  type="text" placeholder="sub-category">
           </div>
           <div class="input-box">
             <span class="details">Quantity</span>
             <input  type="text" placeholder="details">
           </div>
         </div>
         <div class="buttondiv">
         <div class="button">
           <input type="submit" value="update">
         </div>
         <div class="button">
            <input type="submit" value="Add Item">
          </div>
        </div>
       </form>
     </div>
    </div>
    </body>