@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background: white;
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: white;
  padding-bottom:  10px;
  padding-left: 25px;;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  justify-content: center;
  padding-top: 10px;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: black;
  padding-left: 25px;
  /* margin-bottom: 20px; */
}
.container .cancelAdd{
  padding-left: 90%;
  width: 40%;
 
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  border-color: black;
  justify-content: space-between;
  margin: 12px 0 12px 0;
  color: white;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 25px;
}
/* .user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid yellow;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.drop-down-sub{
  background-color: white;
  border-color: #9b59b6;
  width: 4.8cm;
  margin-right: 15%;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.drop-down-sub2{
  background-color: white;
  border-radius: 10px;
  border-color: #9b59b6;
  width: 4.8cm;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 4%;
}
.priceBox{
  background-color: white;
  border-radius: 10px;
  border-color: #9b59b6;
  width: 60%;
  color: black;
  margin-left: 25px;

}
.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 12px 0 12px 0;
  margin-top: 0%;
  padding-top: 0%;
  color: white;
  padding-left: 25px;
  font-size: 16px;
  border-radius: 5px;
  outline:black;
} */

 .user-details .input-box {
  width: calc(50% - 10px); 
  border-radius: 5px;
 
}
.submitButt{
  flex-shrink: 0;
  width: 85px;
  height: 36px;
  justify-content: center;
  border-radius: 10px;
  margin-left: 30px;
}


.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
  margin-bottom: 15px;
  width: 70%;
  height: 0.8cm;
  border-radius: 5px;
}
.user-details .cancelAdd{
  padding-left: 90%;
  color: white;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 25px;
}

 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: yellow;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 /* form input[type="radio"]{
   display: none;
 } */
 form .button{
   
   margin: 35px 0;
   
 
 }


 .input-box{

color: grey;

 }



 

 /* .buttondiv{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

 } */
 .button{
  flex-shrink: 0;
  width: 205px;
  height: 46px;
  justify-content: center;
 }

form .submitButton {
  height: 1cm;
  width: 2.5cm;
  display: block;
  margin-right: 10px;
  margin: 0 auto; /* Center horizontally */
  text-align: center; /* Center the text horizontally */
  display: flex;
  justify-content: center; /* Center horizontally within the container */
  align-items: center; 
  color:yellow;
 }
 form .submitButton input{
   height: 100%;
   width: 50%;
   border-radius: 5px;
   border: none;
   color: black;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: yellow;
 }


 /* form .submitButton:hover{
  /* transform: scale(0.99); */
  /* background: linear-gradient(-135deg, #71b7e6, #9b59b6); */
  /*} */
  
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    
    width: 100%;
    color: yellow;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}








