
<body>
<div class="container">
 <div class="title">View Supplier</div>
 <div class="content">
   <form action="#">
     <div class="user-details"  [formGroup]=form>
       <div class="input-box">
         <span style="color: gray;" class="details">Supplier Name</span>
         <input type="text" placeholder="Name" formControlName="name">
       </div>
       <div class="input-box">
         <span class="details">Address</span>
         <input type="text" placeholder="Address" formControlName="address" >
       </div>
       <div class="input-box">
         <span class="details">Email</span>
         <input type="text" placeholder="Email" formControlName="email">
       </div>
       <div class="input-box">
         <span class="details">Phone number</span>
         <input type="text" placeholder="Phone" formControlName="phone">
       </div>
     </div>
     <div class="button">
       <input type="submit" value="update" (click)="update()">
     </div>
   </form>
 </div>
</div>
</body>

