

    

>
<div *ngIf="!request" class="advanced__background">
    <div style="text-align: center;" class="advanced__backgroundBody">
      <h1 >Welcome   <ion-icon id="helpIcon" name="help-circle" style="color:white;" (click)="showHelp()" matTooltip="Help"></ion-icon> </h1>
      <div class="video-container">
        <video width="800" controls class="sub-container">
          <source src = "assets/370Demo.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
      </video>
      </div>
      
      <button *ngIf="CheckPermission(5)" (click)="request =1" class="ctrl-btn">Control Users</button>
      <button *ngIf="CheckPermission(6)" class="au-btn" (click)="navigateAudit()">View Audit trail</button>
      <button *ngIf="CheckPermission(6)" (click)="Navigate()" class="au-btn">View Calendar</button>
    </div>

  </div>
  <ion-content *ngIf="request==1" class="ion-margin" id="htmlData">
    <div class="contents">
      <ion-title><h1>Users</h1></ion-title>
      <ion-searchbar class="isb" placeholder="Search User..." showCancelButton="focus" [(ngModel)]="filterTerm" animated></ion-searchbar><br/>
        <ion-grid class="ion-margin" class="ion-grid-padding">
          <ion-row>
            <ion-col>Username?...</ion-col>
            <ion-col>Role</ion-col>
            <ion-col>Email</ion-col>
            <!-- <ion-col>Phone*</ion-col> -->
            <ion-col>Permissions</ion-col>
            
            <ion-col></ion-col>
          </ion-row>
          <ion-item-divider></ion-item-divider>
          <ion-row *ngFor="let item of data | async | filter: filterTerm">
            <ion-col>
              <ion-label>{{item.userName}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{item.role}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{item.email}}</ion-label>
            </ion-col>
            <!-- <ion-col>
              <ion-label>{{item.phone}}</ion-label>
            </ion-col> -->
            <ion-col>
              <ion-label>{{item.permissions}}</ion-label>
            </ion-col>
           
            <ion-col>
              <ion-button *ngIf="item.role != 'manager'" (click)="View(item)" class="light-Btn">View</ion-button>
              
            </ion-col>
            <ion-col>
              <ion-button *ngIf="item.role != 'manager'" (click)="DeleteUser(item.id)" class="light-Btn" >Remove</ion-button>
            </ion-col>
            <ion-col>
              <ion-button *ngIf="item.role != 'manager' && item.role != 'guest'" (click)="UpdateRole(item)" class="light-Btn" >Update Permissions</ion-button>
            </ion-col>
           
          </ion-row>
          <ion-item-divider></ion-item-divider>
        </ion-grid>
        <ion-button class="light-Btn" (click)="Add()" >Add</ion-button>
        <ion-button class="light-Btn" (click)="request=false"  >Back</ion-button>
        <!-- <ion-button class="red-Btn" (click)="generPDF()">Generate Report</ion-button> -->
    </div>
  

   


