<ion-content class="ion-margin" id="htmlData">
  <div class="contents">
    <ion-title><h1>Write offs</h1></ion-title>
    <ion-searchbar class="isb" placeholder="Search Products..." showCancelButton="focus" (keyup)="filter($event)" animated></ion-searchbar><br/>
    <table mat-table #orderTable [dataSource]="dataSource" class="mat-elevation-z0">
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <th mat-header-cell  *matHeaderCellDef>
          {{ col.name }}
        </th>
        <td mat-cell *matCellDef="let item" [ngSwitch]="col.key">
          <!-- <ng-container  [ngSwitch]="col.key"> -->
          
                 
            <ng-container *ngSwitchCase="'image'"> 
              <img src="{{item.image}}" (click)="ViewImage(item)"alt="error">
            </ng-container>
                
                <ng-container *ngSwitchCase="'actions'">
                 
                 
            <!-- <ion-button class="red-Btn" (click)="delete(item.writeOff_Id)">Remove</ion-button> -->
          
             
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{item[col.key]}}
            </ng-container>
           
        </td>
          </ng-container>
       
     
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[3, 5, 10]"
      showFirstLastButtons
      >
    </mat-paginator>
     
      <ion-button class="light-Btn" (click)="generPDF()">generate report</ion-button>
      
  </div>

