<body>
  <div class="container">
   <div class="title">View Product</div>
   <div class="content">
     <form action="#">
       <div class="user-details" [formGroup]=form>
         <div class="input-box">
           <span class="details">Product Name</span>
           <input  type="text" placeholder="name" formControlName="name" >
         </div>
         <div class="input-box">
           <span class="details">category</span>
           <input   type="text" placeholder="Category" formControlName="category">
         </div>
         <div class="input-box">
           <span class="details">sub-category</span>
           <input  type="text" placeholder="sub-category" formControlName="subCategory" >
         </div>
         <div class="input-box">
           <span class="details">Expiry</span>
           <input  type="text" placeholder="Expiry"  formControlName="expiry" >
         </div>
        <div class="input-box">
          <span class="details">Price</span>
          <input  type="text" placeholder="Price"  formControlName="price" >
        </div>
       </div>
       <div class="buttondiv">
       <div class="button">
         <input type="submit" value="update" (click)="update()">
       </div>
      </div>
     </form>
   </div>
  </div>
  </body>