<body>
  <form [formGroup]="form">
    <div class="container">
      <ion-button color="danger" shape="round" fill="outline" class="cancelAdd" [routerLink]="['/Products']">X</ion-button>
     <div class="title">View Product</div>
     <div class="content">
      
        <div class="user-details">
          
            <div class="input-box">
              <span class="details">Product Name</span>
              <ion-input type="text" placeholder="Name" formControlName="name" class="priceBox"></ion-input>
              <ion-note class="error-message" *ngIf="form.get('productName')?.hasError('required')">
                A product name is required
              </ion-note>
            </div>

            <div class="input-box">
              <span class="details">Price</span>
              <ion-input type="number" readonly placeholder="Price" formControlName="price" class="priceBox"></ion-input>
              <ion-note class="error-message" *ngIf="form.get('price')?.hasError('min')">
                Price must be greater than or equal to 1.
              </ion-note>
            </div>

          

          <!-- <div> -->
<!--           
            <ion-item class="drop-down-sub2">
              <ion-label position="floating">Category</ion-label>
              <ion-select interface="popover" formControlName="category_ID" (ionChange)="onCategoryChange($any($event.target).value)">
                <ion-select-option *ngFor="let category of categories" [value]="category.category_ID">{{ category.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          
      

          
              <ion-item class="drop-down-sub">
                <ion-label position="floating">Sub-category</ion-label>
                <ion-select interface="popover" formControlName="subCategory_ID">
                  <ion-select-option *ngFor="let subcategory of filteredSubcategories" [value]="subcategory.subCategory_ID">{{ subcategory.name }}</ion-select-option>
                </ion-select>
              </ion-item> -->
              <div class="input-box">
                <span  class="details">Category</span>
                  
                 <mat-form-field style=" height: 60%;background-color: white;margin-left: 30px;width: 60%;">
                   <mat-label>Category</mat-label>
                 <mat-select style="background-color: white;" formControlName="category_ID" (selectionChange)="onCategoryChange($event)">
                   <mat-option *ngFor="let category of categories" [value]="category.category_ID">{{ category.name }}</mat-option>
                 </mat-select>
               </mat-form-field>
               </div>
               <div class="input-box">
               <span  class="details">Sub-Category</span>
               <mat-form-field class="input-box" style="height: 60%;background-color: white;margin-left: 30px;width: 60%;">
                 <mat-label>Sub-Category</mat-label>
                 <mat-select style="height: 100%;" formControlName="subCategory_ID" >
                   <mat-option *ngFor="let subcategory of filteredSubcategories" [value]="subcategory.subCategory_ID">{{ subcategory.name }}</mat-option>
                 </mat-select>
               </mat-form-field>
               </div>
           
          <div class="input-box">
            <span class="details">Quantity</span>
            <ion-input type="number" readonly placeholder="Quantity" formControlName="quantity" class="priceBox"></ion-input>
            <ion-note class="error-message" *ngIf="form.get('quantity')?.hasError('min')">
              Quantity has to be at least 1.
            </ion-note>
          </div>

          <!-- <div class="input-box">
            <span class="details">Expiry</span>
              <ion-input type="date"  formControlName="expiry" class="priceBox" (ionChange)="validateExpiryDate()"></ion-input>
              <ion-note class="error-message" *ngIf="form.get('expiryDate')?.hasError('minExpiryDate')">
                Expiry date must at least be 10 days from now.
              </ion-note>
          </div> -->

          <div class="input-box">
            <span class="details">SKU</span>
            <ion-input type="text" readonly placeholder="try scan Barcode image for SKU" formControlName="sku" class="priceBox"></ion-input>
            
          </div>
         
        
          <ion-button type="submit" (click)="update()" class="submitButton" [disabled]="!form.valid">Update<ion-ripple-effect></ion-ripple-effect></ion-button>

        </div>
     </div>
    </div>
  </form>
</body>
