<body>
    <div class="container">
     <div class="title">Create Recipe</div>
     <div class="content">
       <form action="#">
         <div class="user-details">
           <div class="input-box">
             <span class="details">Recipe Name</span>
             <input  type="text" placeholder="name" [(ngModel)]="data.recipe_Name" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
             <span class="details">Ingredients</span>
             <input   type="text" placeholder="Category" [(ngModel)]="data.recipe_Ingredients" [ngModelOptions]="{standalone: true}">
           </div>
         </div>
         <div class="buttondiv">
         <div class="button">
            <input type="submit" value="submit" (click)="createRecipe()">
          </div>
        </div>
       </form>
     </div>
    </div>
    </body>
