<h2 class="h">Inventory</h2>

<button mat-flat-button color="primary" class="add" >Add Inventory item</button>
<table class="t">
  <tr class="thead">
    <th class="thead">Product ID</th>
    <th class="thead">Product Name</th>
    <th class="thead">Category</th>
    <th class="thead">Subcategory</th>
    <th class="thead">Price per category</th>
    <th class="thead">Quantity</th>
    <th class="thead">Expiry Date</th>
  </tr>
  <tr class="row">
    <td>product_ID</td>
    <td>product_Name</td>
    <td>category</td>
    <td>subcategory</td>
    <td>price</td>
    <td>quantity</td>
    <td>expiry</td>
    
    <button  mat-flat-button color="warn">View</button>
    <button  mat-flat-button color="primary">Remove</button>
  </tr>
</table>





