<ion-card class="payment">
  <ion-icon id="helpIcon" name="help-circle" style="color: #002850;" (click)="showHelp()" matTooltip="Help"></ion-icon>

  <ion-card-content class="paymentbox">
    <h1><strong>Payment</strong></h1>
    <h3><strong>Total amount to pay in Rands: R{{totalR}}</strong></h3>
    <h3><strong>Total amount to pay in Dollars Rounded Up (exchange rates mary vary slightly): ${{total$}}</strong></h3>
    <h4>Please do not refresh the browser while the transaction is processing.</h4>
    <div #paymentRef></div>
    <ion-button class="cancelBtn" (click)="cancel()" color="danger">Cancel</ion-button>
  </ion-card-content>

</ion-card>


  
