<body>
    <div class="container">
     <div class="title">Add Inventory Item</div>
     <div class="content">
       <form action="#">
         <div class="user-details" [formGroup]="form">
           <div class="input-box">
             <span class="details">SKU</span>
             <input  type="text" placeholder="SKU" formControlName="sku">
           </div>
           <div class="input-box">
             <span class="details">Inventory Name</span>
             <input   type="text" placeholder="Name" formControlName="name">
           </div>
           
           <mat-form-field >
            <mat-label>Select Supplier</mat-label>
            <mat-select formControlName="supplier_ID" style="background-color: white;" >
              <mat-option *ngFor="let supplier of suppliers" [value]="supplier.supplier_ID">
                {{supplier.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
         
         <div class="buttondiv">
         <div class="button">
           <input type="submit" value="Add Item" (click)="createInventory()" >
          </div>
        </div>
         </div>
       </form>
     
    </div>
  </div>
</body>