<body>
 


 
 
 
 
 
  <form>
<form  class="folder">
<div class="login-page">
    <div class="form">
      <!-- <form class="register-form" [formGroup]="form">
        <input type="text" placeholder="name" formControlName="username"/>
        <input type="password" placeholder="password" formControlName="password"/>
         <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form> -->
      <form  class="login-form" [formGroup]="form">
          <h1>Create new Password</h1>
        <input class="tfields" type="text" placeholder="username" formControlName="username">
        <input  class="tfields" type="password" placeholder="password" formControlName="password"/>
        <button class="tfields" style="background-color: rgb(94, 94, 210);color: white;;" [disabled]="!form.valid" (click)="setnewpassword()">reset Password</button>
      </form>
    </div>
  </div>
</form>
</form>


</body>
