<body>
  

  
  
  
  
  
    <form>
  <form  class="folder">
  <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form  class="login-form">
            <h1>Create new Password</h1>
          <input  type="text" placeholder="new password"/>
          <input  type="password" placeholder="confirm password"/>
          <button (click)="setnewpassword()">reset Password</button>
        </form>
      </div>
    </div>
  </form>
  </form>
  
  
  </body>
