<body>
    <div class="container">
     <div class="title">View Supplier Order</div>
     <div class="content">
       <form action="#">
         <div class="user-details">
           <div class="input-box">
             <span class="details">Order ID</span>
             <input  type="text" placeholder="name" [(ngModel)]="data.order_ID" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
             <span class="details">Supplier Name</span>
             <input   type="text" placeholder="Category"  [(ngModel)]="data.supplierName" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
             <span class="details">Quantity</span>
             <input  type="text"  [(ngModel)]="data.quantity" [ngModelOptions]="{standalone: true}" placeholder="sub-category" >
           </div>
           <div class="input-box">
            <span class="details">Order Status</span>
            <ion-list>
              <ion-item>
                <ion-select [(ngModel)]="data.order_Status"  [ngModelOptions]="{standalone: true}">
                  <ion-select-option value="in-progress">in-progress</ion-select-option>
                  <ion-select-option value="Finished">Finished</ion-select-option>
                  <ion-select-option value="Pending">Pending</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-list>
         </div>
         <div class="button">
          <ion-button class="light-Btn" (click)="update()">Update Order</ion-button>
          </div>
        </div>
       </form>
     </div>
    </div>
    </body>
