<!-- <ion-content> -->
    <!-- <ion-datetime [(ngModel)]="selectedDate" minuteValues="0,15,30,45" display-format="YYYY-MM-DD" placeholder="Select Date" class="date-value"></ion-datetime> -->
    <!-- <ion-input type="date" [(ngModel)]="selectedDate"></ion-input>
    <ion-input type="time" [(ngModel)]="selectedTime" minuteValues="0,15,30,45"></ion-input> -->
    <!-- <ion-datetime [(ngModel)]="selectedTime" display-format="h:mm A" placeholder="Select Time"></ion-datetime> -->
    
    <!-- <div class="modal-footer">
        <input type="button" class="addEvent" (click)="openEventModal()" value="Add Event">
    </div> -->
<!-- </ion-content> -->

<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-icon id="helpIcon" name="help-circle" style="color: #002850;" (click)="showHelp()"></ion-icon>
            <ion-title class="header">KMJ Monthly Events</ion-title>
        </ion-toolbar>
    </ion-header>
    <form style="display: flex;align-items: center;flex-direction: column;" >
    <ion-datetime [highlightedDates]="highlightedDates" (ionChange)="SetValue($event)" presentation="date"
    ></ion-datetime>
    <div *ngIf="selectedDate">
       Selected Date is: {{selectedDate}}
    </div>
    <div *ngIf="!selectedDate">
        Select a Date
     </div>
    
  </form>
    <!-- <ion-datetime value="2023-09-01T00:00:00"
    ></ion-datetime> -->
<br>
<div *ngIf="selectedDate">
    <div style="display: flex;flex-wrap: wrap;justify-content: center;">
        <input type="button" class="addEvent"  (click)="openEventModal()" value="Add Event">
        <input type="button" *ngIf="!view" class="addEvent" (click)="ViewEvents();view = true" value="View Events">
        <input type="button" *ngIf="view" class="addEvent" (click)="ViewEvents();view = false" value="Cancel">
    </div>
</div>
    
    <!-- Display events for the selected date -->
    <div *ngIf="filteredEvents | async">
       <table style="width: 100px;">
        <tr style="width: 100%;">
           
        </tr>
       </table>
       <br>
        <div *ngIf="view">
            <ion-row>
                <ion-col style="text-align: center;border: 1px solid black">Event Date</ion-col>
                <ion-col style="text-align: center;;border: 1px solid black">Event Description</ion-col>
                </ion-row>
                <ion-row *ngFor="let event of filteredEvents | async">
                    <ion-col style="text-align: center;;border: 1px solid black">{{ event.date}}</ion-col>
                    <ion-col style="text-align: center;;border: 1px solid black">{{ event.description }}</ion-col>
                    
                  </ion-row>
        </div>
       
      </div>
    

    <ion-grid>
       
       
    </ion-grid>
    <div style="display: flex;justify-content: center;">
        <ion-button (click)="Navigate()">Back</ion-button>
    </div>
    
</ion-content>



