<!-- <ion-content> -->
    <!-- <ion-datetime [(ngModel)]="selectedDate" minuteValues="0,15,30,45" display-format="YYYY-MM-DD" placeholder="Select Date" class="date-value"></ion-datetime> -->
    <!-- <ion-input type="date" [(ngModel)]="selectedDate"></ion-input>
    <ion-input type="time" [(ngModel)]="selectedTime" minuteValues="0,15,30,45"></ion-input> -->
    <!-- <ion-datetime [(ngModel)]="selectedTime" display-format="h:mm A" placeholder="Select Time"></ion-datetime> -->
    
    <!-- <div class="modal-footer">
        <input type="button" class="addEvent" (click)="openEventModal()" value="Add Event">
    </div> -->
<!-- </ion-content> -->

<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-title class="header">KMJ Monthly Events</ion-title>
        </ion-toolbar>
    </ion-header>
    <form style="display: flex;align-items: center;flex-direction: column;" >
    <ion-datetime [highlightedDates]="highlightedDates" (ionChange)="SetValue($event)" presentation="date"
    ></ion-datetime>
    <div *ngIf="selectedDate">
       Selected Date is: {{selectedDate}}
    </div>
    <div *ngIf="!selectedDate">
        Select a Date
     </div>
    
  </form>
    <!-- <ion-datetime value="2023-09-01T00:00:00"
    ></ion-datetime> -->
<br>
<div *ngIf="selectedDate">
    <div style="display: flex;flex-wrap: wrap;justify-content: center;">
        <input type="button" class="addEvent"  (click)="openEventModal()" value="Add Event">
        <input type="button" class="addEvent" (click)="ViewEvents()" value="View Events">
    </div>
</div>
    
    <!-- Display events for the selected date -->
    <div *ngIf="filteredEvents | async">
       <table style="width: 100px;">
        <tr style="width: 100%;">
            <th style="width: 50%;">Event ID</th>
            <th style="width: 50%;">Event Description</th>
        </tr>
       </table>
       
        
        <tr *ngFor="let event of filteredEvents | async">
          {{ event.description }}
        </tr>
      </div>
    

    
</ion-content>



