<body>
    <div class="container">
     <div class="title">Create Supplier Order</div>
     <div class="content">
       <form action="#">
         <div class="user-details">
           <div class="input-box">
             <span class="details">Inventory Item</span>
             <input  type="text" placeholder="Inventory Item" [(ngModel)]="data.inventory_Item_Id" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
             <span class="details">Order description</span>
             <input   type="text" placeholder="Order description" [(ngModel)]="data.supplier_Order_Id" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
            <span class="details">Quantity</span>
            <input   type="text" placeholder="Quantity" [(ngModel)]="data.quantity" [ngModelOptions]="{standalone: true}">
          </div>
         </div>
         <div class="buttondiv">
         <div class="button">
            <input type="submit" value="submit" (click)="update()">
          </div>
        </div>
       </form>
     </div>
    </div>
    </body>
