<body>
    <div class="container">
     <div class="title">View Supplier Order</div>
     <div class="content">
       <form action="#">
         <div class="user-details">
           <div class="input-box">
             <span class="details">Order id</span>
             <input  type="text" placeholder="name" [(ngModel)]="data.order_ID" [ngModelOptions]="{standalone: true}">
           </div>
           <div class="input-box">
             <span class="details">loading</span>
             <input   type="text" placeholder="Category">
           </div>
           <div class="input-box">
             <span class="details">loading</span>
             <input  type="text" placeholder="sub-category" >
           </div>
           <div class="input-box">
            <span class="details">quantity</span>
            <input  type="text" placeholder="Quantity" [(ngModel)]="data.quantity" [ngModelOptions]="{standalone: true}">
          </div>
         </div>
         <div class="buttondiv">
         <div class="button">
           <input type="submit" value="update" (click)="update()">
         </div>
         <div class="button">
            <input type="submit" value="submit" >
          </div>
        </div>
       </form>
     </div>
    </div>
    </body>
