

<body>
  
  <form [formGroup]="loginForm" novalidate>
<form  class="folder">
<div class="login-page">
    <div class="form">
     
      <form [formGroup]="loginForm" class="login-form">
        <ion-icon id="helpIcon" name="help-circle" style="color: #002850;" (click)="showHelp()"></ion-icon>
        <h1>Login</h1>
        <input formControlName="username" type="text" [(ngModel)]="name" name="name"  placeholder="username" required/>
        <input formControlName="password" type="password" placeholder="password" required/>
        <button [disabled]="!loginForm.valid" (click)="onlogin()" matTooltip="login">login</button>
        <p class="message">Not registered? <a [routerLink]="['/Register']" matTooltip="create new account">Create an account</a></p>
        <p class="message">Forgot password? <a [routerLink]="['/newPassword']" matTooltip="New Password">reset password</a></p>
      </form>
    </div>
  </div>
</form>
</form>


</body>