<ion-button (click)="setOpen(true)">
  <ion-icon name="help-circle"></ion-icon>
  <ion-content class="ion-padding">
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <p>To register as a new user, follow these steps: Visit the registration
           page and enter a unique username, your full legal name, a valid email address, 
           and a strong password. Verify your email by clicking the link sent to your inbox. 
           Congratulations, you're now a registered user and can log in using your username and password. 
           If you need assistance, contact our support team.</p>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-button>
<body>
<div class="container" >
 <div class="title"  readonly>Register</div>
 <div class="content">
   <form  [formGroup]="registerForm" (ngSubmit)="onRegister()">
     <div class="user-details">
       <div class="input-box">
         <span class="details">Full Name</span>
         <input class="form-control" id="fullName" type="text" 
         [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }" formControlName="fullName" type="text" placeholder="Enter your name">
         <div *ngIf=" submitted && f['fullName'].errors" class="invalid-feedback">
          <div *ngIf="f['fullName'].errors['required']">firstName is required</div>
        </div>
      </div>
       <div class="input-box">
         <span class="details">Username</span>
         <input formControlName="username" type="text" placeholder="Enter your username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">username is required</div>
            <div *ngIf="f['username'].errors['minlength']">username must be at least 6 characters</div>
       </div>
      </div>
       <div class="input-box">
        <span class="details">Password</span>
        <input formControlName="password" type="text" placeholder="Enter your password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
     </div>
      </div>
       <div class="input-box">
         <span class="details">Email</span>
         <input formControlName="email" type="text" placeholder="Enter your email" class="form-control"
         [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
         <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Please enter a valid email address</div>
     </div>
       </div>
      <!-- <div class="input-box">
          <span class="details">Phone Number</span>
         <input formControlName="Cellphone_Number" type="text" placeholder="Enter your number" required>
       </div>
       
       <div class="input-box">
         <span class="details">Enter surname</span>
         <input formControlName="surname" type="text" placeholder="surname" required>
       </div> 
     </div> -->
     </div>
     <div class="button-container">
     <ion-button color="primary" type="submit" class="ion-but">Register</ion-button>
     <ion-button (click)="BackToLogin()">Back</ion-button>
    </div>
   </form>
 </div>
</div>
</body>





