<body>
  

  
  
  
  
  
  <form>
<form  class="folder">
<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form [formGroup]="loginForm" class="login-form">
        <input formControlName="username" type="text" placeholder="username"/>
        <input formControlName="password" type="password" placeholder="password"/>
        <button (click)="onlogin()">login</button>
        <p class="message">Not registered? <a [routerLink]="['/Register']">Create an account</a></p>
      </form>
    </div>
  </div>
</form>
</form>


</body>