<body>
  

  

<div class="back">

<p class="p1">Username: {{data.username}}</p>
<p class="p1">Password: {{data.Password}}  </p>

<div *ngFor="let item of data">

    
      <label for=""><strong>username: </strong> </label>
        <label>{{item.username}}</label>
      
        <label for=""><strong>password: </strong> </label>
        <label>{{item.password}}</label>
      
    
    </div>

</div>

<form [formGroup]="loginForm">
<form class="folder">
<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input formControlName="username" type="text" placeholder="username"/>
        <input formControlName="password" type="password" placeholder="password"/>
        <button (click)="onlogin()">login</button>
        <p class="message">Not registered? <a [routerLink]="['/Register']">Create an account</a></p>
      </form>
    </div>
  </div>
</form>
</form>


</body>