:host {
    background-color: white;
  }

  .data-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .data-table th,
  .data-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .data-table th {
    background-color: #f2f2f2;
  }

  .white-background {
    background-color: white;
  }
  .data-title{
    color: #ddd;
  }

  .data-entry{
    color:#ddd
  }