
<div class="container">
  <h1 style="color: white;">Add Category</h1>
<div class="content">
    <form action="#">
      <div class="user-details" [formGroup]=form>
        <div style="width: 90%;margin-left: 5;" class="input-box">
          <span class="details">Category Name</span>
          <input type="text" placeholder="e.g Pork" formControlName="name" >
        </div>
      </div>
      <ion-button (click)="AddCategory()" [disabled]="!form.valid" style="background-color: white;color: black;" matTooltip="submit">Submit</ion-button>
    </form>
      </div>
    </div>

