

<body>
<div class="container" aria-readonly="true">
 <div class="title">{{title}}</div>
 <div class="content">
   <form [formGroup]="form"  action="#">
     <div class="user-details">
       <!-- <div class="input-box">
         <span class="details">Full Name</span>
         <input type="text" placeholder="David" readonly>
       </div> -->
       <div class="input-box">
         <span class="details">Username</span>
         <input [readonly]="isDisabled" formControlName="userName" type="text" placeholder="Spider" >
       </div>
       <div class="input-box">
         <span class="details">Email</span>
         <input [readonly]="isDisabled" formControlName="email"  type="text" placeholder="David@gmail.com" >
       </div>
       <!-- <div class="input-box">
         <span class="details">Phone Number</span>
         <input formControlName="phone"  type="text" placeholder="0837647843" readonly>
       </div> -->
      
      
       <div class="input-box">
        <span class="details">Enter Role</span>
        <input formControlName="role"  type="text" placeholder="Janine" >
      </div>
      <div *ngIf="isDisabled" class="input-box">
        <span class="details">Enable Permissions</span>
      <mat-form-field >
        <mat-label>Enable Premisiions</mat-label>
        <mat-select (selectionChange)="OnSelect($event)" formControlName="permissions" multiple>
          <mat-option *ngFor="let permission of dropDown" [value]="permission.permission_ID">
            {{permission.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
     </div>
   </form>
 </div>
 <ion-button *ngIf="isDisabled" (click)="Submit()" class="but" >Set Permissions</ion-button>
 <ion-button *ngIf="!isDisabled" (click)="update()" class="but" >update</ion-button>
</div>
</body>