/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: black; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-radio-button .mat-radio-outer-circle {
    border-color: grey;
}
/* .mat-radio-checked .mat-radio-inner-circle {
    color: red;
    border-color: red;
} */
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color:grey;
    background-color:grey ;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:grey; 
  }


.success{
    background-color: green;
    /* color: black; */
}
.error{
    background-color: red;
    /* color: black; */
}
