<body>
    <div class="container">
        <form [formGroup]="form" class="timer-form">
            <h2 class="timer">Configure amount of hours to be logged in</h2>
            <h4>Enter Hours </h4>
            <ion-input type="number" formControlName="time" max="24" style="background-color:ghostwhite;"></ion-input>
            <ion-note class="error-message" *ngIf="form.get('time')?.hasError('required') && form.get('time')?.touched">
                Please enter a digit.
            </ion-note>
            <ion-button style="color: black;" [disabled]="!form.valid" mat-raised-button color="primary" (click)="Submit()">Submit</ion-button>
        </form>
    </div>
</body>
