
.searchbar{

color: white;
left: 40%;

}

.search-align{

    align-items: center;
}

.yellow{
    color: white;
    background-color:rgb(57, 57, 162)
}


.toolbartop{
    background-color: black;
}

.heading{
    color: white;
}
.colr{

    color: white;
}

.btns{
color: grey;


}

.example-full-width{

    left: 2%;

    color: white;
    top: 5%;



}

.formfields{
    
color: white;
left: 51%;

}

.colr{
  
    
color: yellow;

}

.material-icons{
    font-weight: 300;
    color: black;
}


