<div class="contents">
  <h1>Need some Help?</h1>
<div class="dropdown">
    <input
      type="text"
      [(ngModel)]="selectedItem"
      (click)="toggleDropdown()"
      (keyup)="filterOptions()"
      placeholder="Search help function"
    class="drop"/>
    <ul *ngIf="showDropdown">
      <li
        *ngFor="let option of filteredOptions"
        (click)="selectOption(option)"
      class="options">
        {{ option }}
      </li>
    </ul>
  </div>
  <h1><li click="">View the full help document here</li></h1>
</div>
