<div class="contents">
  <h1>Need some Help?</h1>
<div class="dropdown">
    <input
      type="text"
      [(ngModel)]="selectedItem"
      (click)="toggleDropdown()"
      (keyup)="filterOptions()"
      placeholder="Search help function"
    class="drop"/>
    <ul *ngIf="showDropdown">
      <li
        *ngFor="let option of filteredOptions"
        (click)="selectOption(option)"
      class="options">
        {{ option }}
      </li>
    </ul>
  </div>
  <embed *ngIf="helpClicked" src="assets/helpDocs.pdf" type="application/pdf" width="100%" height="600px"/>
  <ion-button (click)="clickedHelpDoc()">View the full help document here</ion-button>
</div>
