<ion-content class="ion-margin" id="htmlData">
  <div class="contents">
    <ion-icon id="helpIcon" name="help-circle" style="color: #002850;" (click)="showHelp()" matTooltip="Help"></ion-icon>
    <ion-title><h1>Supplier</h1></ion-title>
    <ion-searchbar class="isb" placeholder="Search Suppliers..." showCancelButton="focus" [(ngModel)]="filterTerm" animated></ion-searchbar><br/>
      <ion-grid class="ion-margin" class="ion-grid-padding">
        <ion-row>
          <ion-col>Supplier ID</ion-col>
          <ion-col>Supplier Name</ion-col>
          <ion-col>Address</ion-col>
          <ion-col>Email</ion-col>
          <ion-col>Phone</ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row *ngFor="let item of data | async | filter: filterTerm">
          <ion-col>
            <ion-label>{{item.supplier_ID}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{item.name}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{item.address}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{item.email}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>{{item.phone}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-button  class="light-Btn" (click)="View(item)" matTooltip="View Supplier" matTooltip="View Supplier">View</ion-button>
            <ion-button  class="red-Btn" (click)="delete(item.supplier_ID)" matTooltip="Remove"><ion-icon name="trash-outline"></ion-icon></ion-button>
       <ion-button class="green-Btn" (click)="SupplierOrder(item)" matTooltip="Place a supplier order"><ion-icon name="paper-plane-outline"></ion-icon></ion-button>
      </ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
      </ion-grid>
      <ion-button class="light-Btns" (click)="AddSupplier()">Add</ion-button>
      <ion-button class="red-Btn" (click)="generPDF()">Generate Report</ion-button>
  </div>

 