<body>
    <div class="container">
     <div class="title">Add Supplier</div>
     <div class="content">
       <form action="#">
         <div class="user-details" [formGroup]="form">
           <div class="input-box">
             <span class="details"> Name</span>
             <input type="text" placeholder="name" formControlName="name"  >
           </div>
           <div class="input-box">
             <span class="details">Email</span>
             <input type="text" placeholder="email" formControlName="email" >
           </div>
           <div class="input-box">
             <span class="details">Address</span>
             <input type="text" placeholder="address"formControlName="address">
           </div>
           <div class="input-box">
             <span class="details">Phone number</span>
             <input type="text" placeholder="phone number" formControlName="phone">
           </div>
         </div>
         <div class="button">
           <input type="submit" value="Submit"  (click)="createSupplier()"> 
         </div>
       </form>
     </div>
    </div>
    </body>
