<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Product Item</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <input type="text" class="form-control" id="productName" placeholder="Product">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="category" placeholder="category">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="subcategory" placeholder="subcategory">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="price" placeholder="price">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="quantity">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Add Item</button>
        </div>
      </div>
    </div>
  </div>